{% extends "base.html" %}

{% block content %}

<br>
<h1 class="fw-400 text-center mt-3 mb-4">Manage my wallet</h1>
<br>

<div class="bg-white shadow-sm rounded text-center p-3 mb-4">
    <h1 style="color: SteelBlue; "> ${{balance_info.balance}}</h1>
    <p class="mb-2 text-muted opacity-8">Available Balance</p>
    <hr>
    <a href="{{ url_for('customer.my_balance_withdraw') }}" type="button" class="btn btn-light">Withdraw</a>
    <a href="{{ url_for('customer.my_balance_topup') }}" type="button" class="btn btn-light">Top up</a>
</div>
<br>

<h2>Transaction history</h2>
<br>

<div>
    <div class="row">
      <div class="col-sm-4 text-left"><strong><span class="">Date</span></strong></div>
      <div class="col-sm-4 text-left"><strong>Description</strong></div>
      <div class="col-sm-4 text-center"><strong>Amount</strong></div>
    </div>
</div>

<hr>

{% for info in balance_info_all %}

<div class="row align-items-center flex-row">
  <div class="col-sm-4 text-left"> <span>{{info.trans_date}}</span> </div>
  <div class="col-sm-4 text-left"> <span>{{info.trans_description}}</span></div>
  <div class="col-sm-4 text-center"> <span>$ {{info.trans}}</span> </div>
</div>

{% endfor %}

<br>
<div class="bg-white shadow-sm rounded text-center p-3 mb-4">
  <a href="{{ url_for('customer.customer_portal') }}" type="button" class="btn btn-light">Back to main menu</a>
</div>

{% endblock %}