{% extends "base.html" %}

{% block content %}

<br>
<div class="container">
  <div>
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center"><img src="https://cdn-icons.flaticon.com/png/512/2763/premium/2763444.png?token=exp=1649020401~hmac=4ed9b2c432613b97e1bb56668b7b81ba" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{user_fname }} {{user_lname}}</h4>
                <p class="text-secondary mb-1">Premium user</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3"><h6 class="mb-0">ID</h6></div>
              <div class="col-sm-9 text-secondary">{{cuser.id}}</div>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-sm-3"><h6 class="mb-0">Name</h6></div>
              <div class="col-sm-9 text-secondary">{{cuser.firstname }} {{cuser.lastname}}</div>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-sm-3"><h6 class="mb-0">Email</h6></div>
              <div class="col-sm-9 text-secondary"> {{cuser.email}} </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    
    <a href="{{ url_for('customer.customer_portal') }}" type="button" class="btn btn-light">Back to main menu</a>

  </div>
</div>
 
{% endblock %}