{% extends "base.html" %}

{% block content %}
<p>
    Balance withdraw
</p>

<h2 class="fw-400 text-center mt-3 mb-4">Withdraw Money</h2>

<div>
    <div class="text-center bg-primary p-4 rounded mb-4">
      <h3 class="text-10 text-white fw-400">${{user_balance}}</h3>
      <p class="text-white">Available Balance</p></div>
    <form id="form-send-money" method="post">
      <div class="mb-3">
        <label for="withdrawto" class="form-label">Withdraw to</label>
        <select id="withdrawto" class="form-select" required="">
          <option value="">Choose your registered bank</option>
          <option>Bank number 1 - XXXXXX-CS516</option>
        </select>
    </div>
    <div class="mb-3">
      <label for="youSend" class="form-label">Amount</label>
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input type="text" class="form-control" data-bv-field="youSend" id="youSend" value="1,000" placeholder="">
      </div>
    </div>
    <p class="text-muted mt-4">Transactions fees <span class="float-end d-flex align-items-center">5.00 USD</span></p>
    <hr>

    <a href="{{ url_for('customer.customer_portal') }}" type="button" class="btn btn-light">Back to main menu</a>
    <a href="{{ url_for('customer.my_balance') }}" type="button" class="btn btn-light">Withdraw</a>
    
  </form>
</div>
{% endblock %}