{% extends "base.html" %}

{% block content %}
<p>
    My Cart
</p>


<table class='content-table'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Update Qty</th>
      <th scope="col">Delete Item</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
      <tr>
        <th scope="row">{{ item.product_id }}</th>
        <td>{{ item.product_name }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.quantity }}</td>
        <td><a href="{{ url_for('customer.update_item', product_id=item.product_id) }}">Update</a></td>
        <td><a href="{{ url_for('customer.delete_item', product_id=item.product_id) }}">Delete Item</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br>

<form action="" method="post">
    <input type="submit" name="Clear" value="Clear Cart">
</form>

<br>

<form action="" method="post">
    <input type="submit" name="Submit" value="Go to Order Summary">
</form>

<p>
    {{msg}}
</p>


{% endblock %}