{% extends "base.html" %}

{% block content %}
<br>
<h3>My Product Reviews</h3>
<p>
  <table class="content-table">
    <thead>
      <tr>  
      <th scope="col">Edit</th>
      <th scope="col">Product</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Timestamp</th>
      </tr>
    </thead>
    {% for review in all_reviews %}
    <tr>
    <th scope="row">
        <a href="{{ url_for('review.edit_review', product_id=review.product_id)}}">Edit your review</a>
    </th>
    <!-- <td>{{review.product_id}}
    </td> -->
    <th scope="row">
        <a href="{{ url_for('product.display_product', product_id=review.product_id)}}">{{review.product_id}}</a>
    </th>
    <td>{{review.rating}}
    </td>
    <td>{{review.review_content}}
    </td>
    <td>{{review.review_ts}}
    </td>
    </tr>
    {% endfor %}
  </table>
</p>


<h3>My Seller Reviews</h3>
<p>
  <table class="content-table">
    <thead>
      <tr>  
      <th scope="col">Edit</th>
      <th scope="col">Seller</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Timestamp</th>
      </tr>
    </thead>
    {% for review in all_seller_reviews %}
    <tr>
    <th scope="row">
        <a href="{{ url_for('review.edit_seller_review', seller_id=review.seller_id)}}">Edit your review</a>
    </th>
    <td>{{review.seller_id}}
    </td>
    <td>{{review.rating}}
    </td>
    <td>{{review.review_content}}
    </td>
    <td>{{review.review_ts}}
    </td>
    </tr>
    {% endfor %}
  </table>
</p>

<a href="{{ url_for('customer.customer_portal') }}" class="btn btn-light">Back to main menu</a>



{% endblock %}