{% extends "base.html" %}

{% block content %}

<br><br>
<form action="" method="post">
  {{ form.hidden_tag() }}
  {{form.search_kw(size=64)}}
  {{ form.submit(class_="btn btn-black") }}
</form>

<br><br>

<h2>Products for sale:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in avail_products%}
      <tr>
        <th scope="row">{{product.product_id}}</th>
        <td>
            <a href="{{ url_for('product.display_product', product_id=product.product_id) }}">{{product.name}}</a>
        </td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
