{% extends "base.html" %}

{% block content %}

<br>
<h5> Order summary</h5>
<table class='content-table'>
  <thead>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for item in cart %}
      <tr>
        <td>{{item.product_name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<p>
  Total: {{total_amount}}
</p>

<form action="" method="post">
    <input type="submit" name="Submit" value="Place Order" class="btn btn-light">
</form>

{% endblock %}