{% extends "base.html" %}

{% block content %}

{% if no_match %}
<p>
    No matched product
</p>
{% else %}

<p>
    Search results for {{ search_kw }}
</p>

<table class='content-table'>
  <thead >
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    {% for product in results %}
      <tr>
        <td>
            <a href="{{ url_for('product.display_product', product_id=product.product_id) }}" >{{product.name}}</a>
        </td>
        <td>{{product.price}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endif %}

{% endblock %}