{% extends "base.html" %}

{% block content %}

<h2> Seller Profile </h2>

<br>
<div class="container">
  <div>
    <div class="row gutters-sm">
      <div class="col-md-3 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center"><img src="/static/person_icon.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{user_fname }} {{user_lname}}</h4>
                <p class="text-secondary mb-1">Premium user</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3"><h6 class="mb-0">ID</h6></div>
              <div class="col-sm-9 text-secondary">{{cuser.id}}</div>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-sm-3"><h6 class="mb-0">Name</h6></div>
              <div class="col-sm-9 text-secondary">{{cuser.firstname }} {{cuser.lastname}}</div>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-sm-3"><h6 class="mb-0">Email</h6></div>
              <div class="col-sm-9 text-secondary"> {{cuser.email}} </div>
            </div>
            <hr>
    
            <div class="row">
              <div class="col-sm-3"><h6 class="mb-0">Total Reviews</h6></div>
              <div class="col-sm-9 text-secondary"> {{count}} </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3"><h6 class="mb-0">Average rating</h6></div>
              <div class="col-sm-9 text-secondary"> {{avg}} </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<h5>Most Helpful Reviews</h5>
<p>
  <table class="table">
    <thead>
      <tr>
      <th scope="col">user</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Upvote</th>
      </tr>
    </thead>
    {% for review in top_upvotes %}
    <tr>
    {% if current_user_id == review.buyer_id %}
      <th scope="row">
        <a href="{{ url_for('seller.edit_review',seller_id = 100) }}" class="btn btn-light">Edit your review</a>
      </th>
    {% else %}
      <th scope="row">{{review.buyer_id}}</th>
    {%endif%}
    <td>{{review.rating}}
    </td>
    <td>{{review.review_content}}
    </td>
    <td>{{review.upvote}}
    </td>
    <td>
      <form action="" method="POST">
        <button type="submit" name="Seller_Upvote_1" value = "{{review.review_id}}" class="btn btn-light"> Mark as helpful </button>
      </form>
    </td>
    </tr>
    {% endfor %}
  </table>
</p>
<h5>Reviews for this seller</h5>
<p>
  <table class="content-table">
    <thead>
      <tr>
      <th scope="col">User</th>
      <th scope="col">Rating</th>
      <th scope="col">Review</th>
      <th scope="col">Upvotes</th>
      <th scope="col">Upvote</th>
      </tr>
    </thead>
    {% for review in most_recent %}
    <tr>
    {% if current_user_id == review.buyer_id %}
      <th scope="row">
        <a href="{{ url_for('seller.edit_review', seller_id=100) }}" class="btn btn-light">Edit your review</a>
      </th>
    {% else %}
      <th scope="row">{{review.buyer_id}}</th>
    {%endif%}
    <td>{{review.rating}}
    </td>
    <td>{{review.review_content}}
    </td>
    <td>{{review.upvote}}
    </td>
    <td>
      <form action="" method="POST">
        <button type="submit" name="Seller_Upvote_2" value = "{{review.review_id}}" class="btn btn-light"> Mark as helpful </button>
      </form>
    </td>
    </tr>
    {% endfor %}
  </table>
</p>
{% endblock %}