{% extends "base.html" %}

{% block content %}
<p>
    My Account
</p>

<p>
    <a href="{{ url_for('seller.my_profile') }}" class="btn btn-light">
        My Profile
    </a> 
    <a href="{{ url_for('balance.my_balance') }}" class="btn btn-light">
        My Balance
    </a> 
    <a href="{{ url_for('seller.my_inventory') }}" class="btn btn-light">
        My Inventory
    </a> 
    <a href="{{ url_for('seller.my_orders') }}" class="btn btn-light">
        My Orders
    </a> 
    <a href="{{ url_for('seller.my_reviews') }}" class="btn btn-light">
        My Reviews
    </a> 
</p>
{% endblock %}