{% extends "base.html" %}

{% block content %}

<h2> Order Summary</h2>

<table class='content-table'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Total Number of Orders</th>
      <th scope="col">Average Number of Products per Order</th>
      <th scope="col">Average Number of Revenue per Order</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{num_order}}</th>
        <th scope="row">{{mean_nprod_rev.ave_nprod}}</th>
        <th scope="row">{{mean_nprod_rev.ave_revenue}}</th>
      </tr>
  </tbody>
</table>
{% endblock %}