{% extends "base.html" %}

{% block content %}
<br>
<h2> Current Product </h2>
<table class='content-table'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Availability</th>
      </tr>
    </thead>
    <tbody>
      {% for product in inventory%}
        <tr>
          <th scope="row">{{product.product_id}}</th>
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
          <td>{{product.units_avail}}</td>
          <td>{{product.available}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

<br>
<h2> Update Inventory </h2>
<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>  
    {{ form.price.label }}<br/>
    {{ form.price(size=32) }}<br/>
  </p>
  <p>
    {{ form.quantity.label }}<br/>
    {{ form.quantity(size=32) }}<br/>
  </p>
  <p>
    {{ form.available.label }}<br/>
    {{ form.available }}<br/>
  </p>
  <p>
    {{ form.type_id.label }}<br/>
    {{ form.type_id }}<br/>
  </p>    
  <p>
    {{ form.short_desc.label }}<br/>
    {{ form.short_desc }}<br/>
  </p>
  <p>
    {{ form.long_desc.label }}<br/>
    {{ form.long_desc }}<br/>
  </p>
  <br>
  <p>
    {{ form.submit(class="btn btn-light") }}<br/>
  </p> 
</form>

{% endblock %}