{% extends "base.html" %}

{% block content %}
<h2> My Orders</h2>

{% if is_none %}

<p>
  You don't have any orders yet
</p>

{% else %}

<a class="btn btn-light" href="{{ url_for('seller.order_summary') }}" role="button" >Order Summary</a>

<br><br>

{% for order_id in orders_dict.keys() %}

<p>
  Order ID: {{order_id}}
</p>
<p>
  Time: {{ orders_summary[order_id].ts }}
</p>
<p>
  Buyer Name: {{ orders_summary[order_id].lastname, orders_summary[order_id].firstname }}
</p>
<p>
  Buyer Address: {{ orders_summary[order_id].address }}
</p>
<p>
  Order Fulfillment Status: {{ seller_order_fulfillment[order_id] }}
</p>

<table class='content-table'>
  <thead class=>
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Fulfillment Status</th>
      <th scope="col">Update Status</th>
    </tr>
  </thead>
  <tbody>
    {% for item in orders_dict[order_id] %}
      <tr>
        <th scope="row">{{item.product_id}}</th>
        <td>{{item.price}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.fulfillment_status}} </td>
        <td>
          <a href="{{ url_for('seller.order_fulfill', order_id=order_id, product_id=item.product_id) }}" class="btn btn-light" >Update</a>
        </td>
    {% endfor %}
  </tbody>
</table>

<hr>

{% endfor %}

{% endif %}


{% endblock %}