{% extends "base.html" %}

{% block content %}
<p>
    Public profile
</p>

<div class="container">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center"><img src="https://cdn-icons-png.flaticon.com/512/1864/1864509.png" alt="Admin" class="rounded-circle" width="150">
              <div class="mt-3">
                <h4>{{cuser.firstname }}{{cuser.lastname}}</h4>
                <p class="text-secondary mb-1">Premium user</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Name</h6>
              </div>
              <div class="col-sm-9 text-secondary"> {{cuser.firstname }}{{cuser.lastname}}</div>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary"> {{cuser.email}}</div>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Address</h6>
              </div>
              <div class="col-sm-9 text-secondary">{{cuser.Address}}</div>
            </div>
            <hr>
            
            <div class="row">
              <div class="col-sm-3"></div>
            </div>
            
            <div class="bg-white rounded shadow-sm p-4 mb-4 restaurant-detailed-ratings-and-reviews">
                    <a href="#" class="btn btn-outline-primary btn-sm float-right">Top Rated</a>
                    <h5 class="mb-1">All product ratings and reviews</h5>

                    <div class="reviews-members pt-4 pb-4">
                        <h6 class="mb-1"><a class="text-black" href="#">Customer 1</a></h6>
                        <p class="text-gray">Tue, 20 Mar 2020</p>
                    </div>
                    <div class="reviews-members-body">
                        <p>I bought this because it was highly recommended by Consumer Reports. The only thing I didn't like about it is that it is very thin (I guess that's why they call it "milk") and with the very least perspiration it got in my eyes and it stings like crazy for a long time. </p>
                    </div>
                    <div class="reviews-members-footer">
                        <p> 215 people found this helpful</p>
                    </div>


                
                    <div class="reviews-members pt-4 pb-4">
                        <h6 class="mb-1"><a class="text-black" href="#">Customer 2</a></h6>
                        <p class="text-gray">Tue, 20 Mar 2020</p>
                    </div>
                    <div class="reviews-members-body">
                        <p>These noodles are amazing and the kids loved them. Very simple to prepare and amazing flavor and texture. Soak in cold water for 10-15 minutes then drain and pour boiling water over and soak for 3 minutes. Drain and rinse. Stir fry up with your favorite Asian creation. </p>
                    </div>
                    <div class="reviews-members-footer">
                        <p> 516 people found this helpful</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}