{% extends "base.html" %}

{% block content %}
<h2> Add Fake Order </h2>

<form action="" method="post">
  {{ form.hidden_tag() }}
  <p>
    {{ form.uid.label }} (0-100)<br/>
    {{ form.uid(size=32) }}<br/>
  </p>
  <p>
    {{ form.pid.label }} (0-2005)<br/>
    {{ form.pid(size=32) }}<br/>
  </p>  
  <p>
    {{ form.price.label }}<br/>
    {{ form.price(size=32) }}<br/>
  </p>
  <p>
    {{ form.quantity.label }}<br/>
    {{ form.quantity(size=64) }}<br/>
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}