{% extends "base.html" %}

{% block content %}
<h2> My Inventory</h2>
    <a class="btn btn-black" href="{{ url_for('seller.my_inventory_add_product') }}" role="button" >Add Product</a>
    <a class="btn btn-black" href="{{ url_for('seller.analytics') }}" role="button" >My Product Analytics</a>

<table class='content-table'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Product Type</th>
      <th scope="col">Availability</th>
      <th scope="col">Delete Product</th>
      <th scope="col">Update Details</th>
    </tr>
  </thead>
  <tbody>
    {% for product in inventory%}
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.units_avail}}</td>
        <td>{{product.ptype}}</td>
        <td>{{product.available}}</td>
        <td><a href="{{ url_for('seller.delete_item', pid=product.id) }}">Delete</a></td>
        <td><a href="{{ url_for('seller.update_inventory', pid=product.id) }}">Update</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}