{% extends "base.html" %}

{% block content %}

<h2> My Top 5 Popular Products Sold in the Past 3 Months</h2>

<table class='content-table'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">Quantities Sold</th>
      <th scope="col">Current Inventory</th>
    </tr>
  </thead>
  <tbody>
    {% for product in trendy_products%}
      <tr>
        <th scope="row">{{product.product_id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.sales}}</td>
        <td>{{product.units_avail}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<h2> My Products with Less or Equal Than 10 Items in Stock</h2>
<table class='content-table'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Product ID</th>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products%}
      <tr>
        <th scope="row">{{product.product_id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.units_avail}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}